div#pageContainer.pageElementTop {
	filter: hue-rotate(310deg) invert(85%)
}

#pageContainer {
	border: none;
}

body{
	background: #262626 !important;
}

table tr{
	font-size: 9px;
}

.test {
	color: #000;
}

#weekform tr:nth-child(4),#weekform tr:nth-child(5),#weekform tr:nth-child(6),#weekform tr:nth-child(7),#weekform tr:nth-child(8),#weekform tr:nth-child(9),#weekform tr:nth-child(10), #weekform tr:nth-child(11){
	display:none;
}
